











<app-navbar *ngIf="service.isAuth">
</app-navbar>
  <md-card *ngIf="service.isAuth" style="background-color: #03A9F5;">
      <md-card-header>
        <img md-card-avatar [src]="user.photoURL || '../assets/images/avatar.png'">
        <md-card-title>{{ user.displayName }}</md-card-title>
        <md-card-subtitle>{{ user.email || '(no email)' }}</md-card-subtitle>
      </md-card-header>

      <md-card-actions align="end">
        <button md-raised-button color="primary" (click)="service.logout()">
         Logout
       </button>
      </md-card-actions>
    </md-card>





<div fxLayoutAlign="center center" *ngIf="service.isAuth" class="add-note">
  <md-card class="card">
  <md-toolbar>Add your notes here </md-toolbar>
    <md-card-content>
      <md-input-container class="example-full-width">
        <textarea mdInput placeholder="Add your notes here" [(ngModel)]="note"></textarea>
      </md-input-container>
    </md-card-content>
    <md-card-actions align="end">
      <button style="background-color:greenyellow" md-raised-button (click)="saveNote()">Add </button>
    </md-card-actions>
  </md-card>
</div>





<app-notes [notes]='notes' *ngIf="service.isAuth"></app-notes>
<router-outlet></router-outlet>
