<div fxLayoutAlign="center center" fxFlex.xs="100%"  fxLayout="row" >
  <div fxFlex="80%" fxFlex.md="100%" fxFlex.sm="100%" fxLayoutWrap="wrap" fxFlex.xs="100%" fxLayout.xs="column">

    <md-card fxFlex="23%">
      <md-card-content>
        Sample notes
      </md-card-content>
    </md-card>

    <md-card fxFlex="23%" >
      <md-card-content>
        Sample notes
      </md-card-content>
    </md-card>

    <md-card  fxFlex="23%">
      <md-card-content>
        Sample notes
      </md-card-content>
    </md-card>



    <md-card  fxFlex="23%">
      <md-card-content>
        Sample notes
      </md-card-content>
    </md-card>

    <md-card  fxFlex="23%">
      <md-card-content>
        Sample notes
      </md-card-content>
    </md-card>

    <md-card  fxFlex="23%">
      <md-card-content>
        Sample notes
      </md-card-content>
    </md-card>

    <md-card  fxFlex="23%">
      <md-card-content>
        Sample notes
      </md-card-content>
    </md-card>

  </div>
</div>
