.mat-card {
margin-top: 20px;
margin-left: 12px;
/*max-width: 50%;*/
background-color: #C8DA2C;
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 width: 100%;

}

@media only screen and (max-width: 600px) {

}

h6 {
  margin-left: 75%;
  margin-top: 15px
}
