<!--<div fxLayoutAlign="center center" fxFlex.xs="100%"  fxLayout="row" *ngFor="let item of notes | async" >
  <div fxFlex="80%" fxFlex.md="100%" fxFlex.sm="100%" fxLayoutWrap="wrap" fxFlex.xs="100%" fxLayout.xs="column">
    <md-card >
  <md-card-content>
    <h2>{{item.notes}}</h2>
    <p>{{item.date | date}}</p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">

  </md-card-actions>
</md-card>
  </div>
</div>
-->

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" *ngFor="let item of notes | async">
  <div fxFlex.gt-md="25" fxFlex.md="29"  fxFlex.sm="39" fxFlex.xs="100" fxLayout="column">
    <md-card style="width:85%">
    <md-card-header>
        <img md-card-avatar src={{item?.user.photoURL}}>
        <md-card-title>{{item.user.displayName}}</md-card-title>
        <md-card-subtitle>{{item.user.email}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <h2>{{item.notes}}</h2>
      </md-card-content>
    <md-card-footer>
         <h6>{{item.date | date:'medium'}}</h6>
    </md-card-footer>
</md-card>

  </div>
</div>



