/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
margin: 0;
}
.card .mat-input-container {
	width: 100%;
}
.card .mat-toolbar-row {
  height: 54px!important;
}
.card .mat-card-content {
  padding: 1em 1em 0em 1em;
}
.mat-menu-panel {
  margin-top: 53px!important;
}
